<div class="games">
    <h2>Games</h2>
    <div class="game-library">
        <h3>Game Library</h3>
        <p>Play games on your console.</p>
        <ul>
            <li>Demos</li>
            <li>Xbox Originals</li>
            <li>XNA Creators Club</li>
            <li>Xbox LIVE Arcade</li>
        </ul>
    </div>
</div>