<div class="media">
    <h2>Media</h2>
    <div class="media-options">
        <h3>Media Options</h3>
        <ul>
            <li>Music</li>
            <li>Pictures</li>
            <li>Videos</li>
            <li>Video Store</li>
            <li>Media Center</li>
        </ul>
    </div>
</div>