<div class="system">
    <h2>System</h2>
    <div class="system-options">
        <h3>System Options</h3>
        <ul>
            <li>View Games</li>
            <li>Edit Profile</li>
            <li>View Rep</li>
            <li>Game Defaults</li>
            <li>Account Management</li>
            <li>Auto Sign-in</li>
        </ul>
    </div>
</div>